.game>div.headings {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.game>div.headings p {
    max-width: 80%;
    text-align: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-block: 20px;
}

button {
    cursor: pointer;
}

button#btn-roll-dice {
    padding: 0.8rem;
    max-width: 50%;
    margin: 0 auto;
    /* margin-top: 2rem; */
    background-color: var(--btn-color-light-blue);
    color: white;
    border-radius: 0.6rem;
    font-weight: 700;
    border: 1px solid white;

}

button#btn-roll-dice:hover {
    background-color: white;
    color: var(--btn-color-light-blue);
    transition: 0.2s ease;
    border: 1px solid var(--btn-color-light-blue);
}

button#btn-roll-dice:active {
    background-color: var(--btn-color-light-blue);
    color: white;
}
