.leaderboard #dice-rolled {
    font-weight: normal;
    font-size: large;
    font-style: normal;
}

.leaderboard .streaks .indv-streak {
    font-weight: normal;
    text-align: center;
}

.highlight-last-in {
    font-weight: bold;
    color: var(--main-color);
    font-size: x-large;
    text-shadow: 3px 3px 2px #3e9561;
}

#current-dice-rolled-times {
    display: inline;

}

.dice-shadow {
    text-shadow: 3px 3px 2px #3e9561;
}