section.language-list {
    width: 100%;
    display: flex;
    max-width: 450px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 36px;

}

.language-list>span.chip {
    border-radius: 5px;
    padding: 4px;
    position: relative;

}

span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}